Spiel aus Sicht von {{spieler.name}}<br>
Trumpf: {{spiel.trumpf}}
<form action="" method="post">
    <ul>
        {{#spieler.hand}}
            <li><label><input name="karte" id="{{stringify}}" type="checkbox" value="{{stringify}}">{{farbe}} {{wert}}</label></li>
        {{/spieler.hand}}
    </ul>
{{#if spielerAnDerReihe}}
    <button type="submit">Spielen</button>
{{/if}}
</form>